<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Terms And Conditions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<h1>TERMS & CONDITIONS OF TRANSPORT </h1>	
<ul>
<li type="circle"><b>Safety precautions to be followed by the employee:</b></li>
<ol>  
<li>Woman staff: The company takes outmost precaution in ensuring safe travel of its staff, especially women staff. The company provides escort if a woman staff happen to be the first pick-up / last drop / lone traveller.  Women staff should inform transport helpdesk immediately in case escort is not provided in the aforementioned situation.</li>
<li>If a male employee is the first pickup and female employee is second, the male employee should inform transport helpdesk at least two hours in advance in case he is not boarding the vehicle due to any reason. This will ensure presence of escort in the vehicle.</li>
<li>Avoid discussing your personal / immediate plans inside the cab and avoid using mobile phones in the cabs. Keep mobiles charged and with sufficient balance to make emergency calls if required.</li>
<li>Avoid being friendly with drivers or withdrawing cash from ATMs en route. Drivers have been instructed not to stop enroute to the final destination. </li>
<li>Never permit unknown persons or driver’s associates to ride in the same vehicle. In case you find any such incident please inform the travel desk immediately.</li>
<li>In case the vehicle stops at a secluded / lonely spot and driver makes an excuse of engine malfunction / no fuel, get down from the vehicle immediately and from a safe distance, observe his actions and call up the help desk or your Supervisor and inform immediately about the incident.</li>
<li>Please report any unpleasant situation to the Administration. </li>
<li>Drivers are expected to drive safely and follow traffic rules (e.g. not break red light, not make illegal U turns, etc). Please report any instances of rash driving immediately to Administration and the Transport helpdesk.</li>
</ol>
<li type="circle"><b>Safety precautions implemented by the Company:</b></li>
 <ol>
<li>The Company has engaged one of the most reputed Professional Transport company in Bangalore.</li> 
<li>The Transport Company verifies character and conduct of each driver through a stringent background check process before employing them.</li> 
<li>Transport helpdesk has been provided to handle queries/concerns of the employees. Employee can reach the transport help at 8033451604 or email at blr2transport.sips.in@siemens.com.</li>
<li>Lady staff, if happen to be the first pick-up/last drop will be escorted by a security staff.</li>
<li>GPS trackers have been installed in all the cabs to track the movement of the cabs.</li>
<li>Admin team maintains details of all the vehicles and of the drivers such as Driving License copy, Residential Address, Vehicle Details etc.</li> 
<li>All employees will be picked and dropped from /at their homes.</li>
<li>Regular inspections are made to ensure the proper condition of the vehicles.</li>
<li>As part of our policy none of our cabs have tinted glasses.</li>
</ol>
</ul>

<b>List of contact numbers to be kept handy by the employees:</b></ul>


<ul><img alt="" src="contacts.jpg"></ul>

</body>
</html>
